
/* /workspaces/react/react-app/src/Use-State/useState.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.btn {
    padding: 8px 16px;
    font-size: 1rem;
    background: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    margin-right: 15px;
}

.btn:hover {
    background: #bbdefb;
}