*{
    padding: 10;
    margin: 10;
    font-family:sans-serif;

}
/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    background: #f8f8f8;
    
}

.navbar p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    letter-spacing: 1px;
    margin-right: 600px; /* Add space between p and ul */
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
    padding: 0;
    cursor: pointer;
}



/* footer styling */
.footer{
    text-align: center;
    color: grey;
}