body{
    font-family: Arial,sans-serif;
}

.Container{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-display{
    height: 200px;
    width: 500px;
    text-align: center;
}
.display-box{
    justify-content: center;
    

}
h1{
    font-size: 3rem;
}