body{
    font-family: Arial,sans-serif;
}

.Container{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-display{
    height: 200px;
    width: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: larger;
    border:3px solid gray;
    transition: 0.5s ease;
}
.colorlabel{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
h1{
    font-size: 3rem;
}

input[type="color"]{
    height: 40px;
    width: 70px;
    border-radius: 5px;
    

}