.Heading{
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #50be0b;
    border-radius: 5px;
    padding: 10px;
    
}
.list-item{
    text-align: center;
    text-decoration: none;
    list-style-type:none;
        display: flex;
    flex-direction:column;
}
.para{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
