.body{
    align-items:center;
    justify-content: center;
}



h1{
    text-align: center;
    margin: 10px;
}

.input-box{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
  margin-bottom: 10px;
  color: black;
  font-weight: normal;
}

/* Important task */
.list-item.important {
  font-weight: bold;
  color: goldenrod;
}

/* Task text */
.task-text {
  margin-right: 10px;
}

/* Completed task */
.task-text.completed {
  text-decoration: line-through;
}

/* Optional button spacing */
.list-item button {
  margin-right: 5px;
}
