.container{
    text-align: center;
    margin: 30px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.para{
    font-size: large;
    padding: 0;
    margin: 10px;
}
.head{
    font-size:x-large;
    font-weight:bold;
}

.selector{
    padding: 20px;
    padding: 10px;
    font-size:medium;
    width: 35%;
}

.radio{
    font-size: large;
    
}