.container{
    text-align: center;
    margin: 30px;
    padding: 30px;
    
}

.inputs{
    padding: 10px;
    font-size:medium;

}

.para{
    font-size: large;
}
.head{
    font-size:x-large;
    font-weight:bold;
}

.selector{
    padding: 20px;
    padding: 10px;
    font-size:medium;
    width: 35%;
}
