.ID{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
